<h4> Application Form</h4>
<form action = "/position/{{job['id']}}/apply"  method = "post">
  <div class = "mb-2">
    <label> Enter Full Name:  </label><br>
    <input type = "text" name = "fullname" placeholder = "Amrish Naranappa">
  </div>
  <div class = "mb-2">
    <label> Enter Email:  </label><br>
    <input type = "text" name = "email" placeholder = "amrish.naranappa@gmail.com">
  </div>
  <div class = "mb-2">
    <label> Enter Linkedin:  </label><br>
    <input type = "text" name = "link" placeholder = "https://www.linkedin.com/in/amrishn">
  </div>
  <div class = "mb-2"> 
    <label> Enter Education:  </label><br>
    <textarea name = "education" placeholder = "North Carolina State "></textarea>
  </div>
  <div class = "mb-2"> 
    <label> Enter Work Experience:  </label><br>
    <textarea name = "work" placeholder = "Part of Bionics Club"></textarea>

  </div>
  <div class = "mb-2">
    <label> Resume Link:  </label><br>
    <input type = "text" name = "resume link">
  </div>
  <br>
  <input type = "submit">
 
  
</form>