<!DOCTYPE html>
<html>
  <head>
    <title>North Carolina University Student Positions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
      p{
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class ="container">
      <h1 class ="text-center mt-2 mb-2">Student Careers at NCSU<h1>
        <img class = "img-fluid" id = "banner" src = "https://careers-website.amrishnaranappa.repl.co/static/ncsu.jpg" width = "400" height 
       = "350" > 
          <h2 class="text-center mt-2 mb-2"> About NCSU's Departments</h2>
          <p class= "lead"> Campus Enterprises at NC State University is a dynamic umbrella organization encompassing several vital departments that collectively contribute to the enrichment of campus life. At the helm is the Campus Enterprises Administration, which strategically plans and coordinates the diverse operations within the enterprise. NC State Dining is committed to providing a multifaceted dining experience that emphasizes sustainability, nutrition, and culinary innovation. Meanwhile, NC State Student Centers stands as the nexus of student life, managing spaces and facilities that facilitate community engagement, student organizations, and a myriad of social activities.

            Ensuring smooth transportation and logistics on campus, NC State Wolf Xpress plays a pivotal role, overseeing the Wolfline bus system and facilitating efficient package delivery services. Wolfpack Outfitters serves as the university's premier retail destination, offering a wide array of merchandise, apparel, and accessories that proudly showcase NC State pride. Complementing this, the WolfPack Outfitters/NC State Bookstore is the central hub for textbooks and course materials, providing students with academic resources while also contributing to the cultivation of campus identity and spirit.

            Collectively, these departments under Campus Enterprises synergistically work towards creating a vibrant, inclusive, and spirited environment that enhances the overall collegiate experience at NC State University. Whether through facilitating essential services, promoting campus engagement, or fostering a sense of community, Campus Enterprises plays a crucial role in shaping the dynamic tapestry of university life.
          </p>
       
          <h2 class ="text-center mt-2 mb-2"> Student Jobs available by Department</h2>
        <div>
          {% for job in jobs %}
           {%include 'jobitems.html' %}
          {% endfor %}
        </div>
        <div class= "text-center">
          <button class="btn btn-primary btn-lg"> Contact </button>
        </div>
          
    </div>
      
  </body>
</html>