<!DOCTYPE html>
<html>

<head>
  <title>North Carolina University Student Positions</title>
  {% include 'bootstrap.html' %}
 
 
</head>

<body>
  {% include 'nav.html' %}
  <!-- Example: Place this at the top of your homepage -->
<div class="text-center my-4">
  <img src="{{ url_for('static', filename='ncsu.jpg') }}" alt="NCSU" style="max-width: 100%; height: 50%;">
</div>
  <!-- {% include 'banner.html' %} -->
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Student Careers at NCSU<h1>

        <!-- <h2 class="text-center mt-2 mb-2"> About NCSU's Departments</h2> -->
        <div class="row" style="margin-bottom:20px">
          <div class="col-md-6">
            <p class="lead"  > Campus Enterprises at NC State University oversees key departments that enhance campus
              life. The Campus Enterprises Administration strategically coordinates various operations. NC State Dining
              focuses on a sustainable, nutritious, and innovative dining experience. NC State Student Centers manages
              spaces for community engagement and social activities. NC State Wolf Xpress ensures smooth campus
              transportation and logistics, overseeing the Wolfline bus system and package delivery services. Wolfpack
              Outfitters is the premier retail destination, offering a variety of merchandise showcasing NC State pride.
              The WolfPack Outfitters/NC State Bookstore is a hub for textbooks, academic resources, and campus
              identity. Together, these departments create a vibrant, inclusive environment, shaping the collegiate
              experience at NC State University.
            </p>
          </div>
          <div class="d-none d-md-block col-md-6">
            <img src="/static/team.jpg" style="height:350px; border-radius:4px;">
          </div>
        </div>
        <h2 class="text-center mt-2 mb-2"> Student Jobs Available By Department</h2>
        <div>
          {% for job in jobs %}
          {%include 'jobitems.html' %}
          {% endfor %}
        </div>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="mailto:campus-enterprises@ncsu.edu?subject=Application for job">
            Contact </a>

        </div>

  </div>

</body>

</html>